.userCell_norm {
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.userCell_id {
    width: 50px;
    text-align: center;   
    vertical-align: middle;
}

.userCell_double {
    width: 300px;
    text-align: center;
    vertical-align: middle;
}

.userTable {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

body {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px; 
}

.brand {
    font-family: Courier;
}

.text-center{
    text-align:center;
}

.pull-center{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.in-page-link{
    padding-top:40px;
    margin-top:-40px;
}

.affix {
    position: fixed;
    top: 80px;
    width: auto;
}

hr {
    border-color: #DDD;
}

@media(min-width:1200px){
    .sidenav{
        width:150px;
    }
    .sidenav > li > a {
        width:125px;
    }
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

label {
    padding-right: 10px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body{
    /* margin: 0 15px 0 15px; */
}

.footer{
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    /* margin: 10px; */
    padding: 10px;
    border: 1px solid #D0D0D0;
    -moz-box-shadow: 0 0 8px #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}